/* css/animations.css */
@keyframes heartBeat {
    0% { transform: rotate(-45deg) scale(1); }
    25% { transform: rotate(-45deg) scale(1.1); }
    50% { transform: rotate(-45deg) scale(1.2); }
    75% { transform: rotate(-45deg) scale(1.1); }
    100% { transform: rotate(-45deg) scale(1); }
}
